.advantages {
    margin-top: 80px;
    color: #eeeeee;
}
.advantages_item {
    background: rgba(0,0,0,0.5);
    border-radius: 8px 0 0 8px;
    width: 240px;
    float: left;
    margin: 0;
    padding-top: 16px;
    text-align: center;
}
.advantages_item h4 {
    font-size: 18px;
    margin-bottom: 64px;
}
.advantages_item img {
    animation-name: rotate;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(368deg); }
    18% { transform: rotate(359deg); }
    100% { transform: translate(0, 0); }
}
.advantages_item img:hover {
    /*-webkit-transform: rotate(360deg); !* Safari *!*/
    transition: 0.4s;
    transform: rotate(360deg);
}
.advantages_item:nth-child(2) {
    border-radius: 0;
}
.advantages_item:nth-child(3) {
    border-radius: 0;
}
.advantages_item:last-child {
    border-radius: 0 8px 8px 0;
}
.button {
    background: #558B2F;
    color: #eeeeee;
    border-radius: 5px;
    box-shadow: 0 8px 11px 4px rgba(0,0,0,0.3);
    display: block;
    width: 240px;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;
    transition-timing-function: ease;
    transition: 0.6s;
}
.button:hover {
    border-radius: 32px;
    transition: 0.2s;
}
.clearfix:after {
    content:'';
    display: table;
    width: 100%;
    clear: both;
}
.container {
    width: 960px;
    margin: 0 auto;
}
.footer_container {
    margin: 0 0 0 0;
    padding: 64px 0 56px 0;
    display: block;
}
.heading {
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.35);
    box-shadow: 0 8px 4px 0 rgba(0,0,0,0.35);
}
.logo {
    margin: 2px 0 0 8px;
    padding: 0 0 8px 0;
    float: left;
}
.logo:hover {
    border-radius: 5px;
    background: rgba(85, 139, 47, 0.5);
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}
.menu li {
    float: left;
    /*display: block;*/
    padding: 0 0 16px 0;
}
.menu li:hover {
    background: rgba(85, 139, 47, 0.5);
}
.menu li a {
    color: #eeeeee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    text-align: center;
    padding: 8px;
}
.parallax {
    /* The image used */
    background-image: url('/img/coffee-bg2.jpg');

    /* Full height */
    height: 550px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
parallax2 {
    /* The image used */
    background: url("/img/coffee-bg.jpg") no-repeat center top / cover;
    padding-bottom: 132px;

    /* Set a specific height */
    min-height: 550px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
}
.services {
    margin-top: 40px;
}
.services_item {
    color: #263238;
    box-shadow: 4px 4px 11px 2px rgba(0,0,0,0.3);
    border-radius: 8px;
    margin-top: 18px;
    padding-top: 8px;
    width: 470px;
    /*height: 466px;*/
    position: relative;
    transition-timing-function: ease;
    transition: 0.25s;
    float: left;
    text-align: center;
    text-decoration: none;
}
.services_item:hover {
    box-shadow: 4px 4px 16px 2px rgba(0,0,0,0.4);
    transition-timing-function: ease;
    transition: 0.25s;
    position: relative;
    transform: scale3d(1.02, 1.02, 1);
}
.services_item h3 {
    font-size: 18px;
    margin-bottom: 32px;
}
.services_item img {
    border-radius: 50%;
    box-shadow: 8px 8px 8px 0 rgba(0,0,0,0.33);
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    transition: 0.4s;
}
.services_item:hover img {
    opacity: 0.9;
    box-shadow: 8px 8px 24px 0 rgba(0,0,0,0.33);
    transition-timing-function: ease;
    transition-delay: 1.9s;
    transition: 0.4s;
    transform: scale3d(1.08, 1.08, 1);
}
.services_item:nth-child(2) {
    float: right;
}
.services_item:nth-child(3) {
    float: left;
}
.services_item:last-child {
    float: right;
}
.socials {
    width: 290px;
    height: 32px;
    margin: 0;
    display: block;
    float: right;
}
.socials-img_item img{
    float: left;
    opacity: 0.6;
    margin: 2px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0);
    transition-timing-function: ease;
    transition: 0.6s;
    box-shadow: 8px 8px 8px 0 rgba(0,0,0,0.33);
}
.socials-img_item img:hover {
    border: 1px solid grey;
    opacity: 1;
    transition: 0.2s;
    transform: scale3d(1.25, 1.25, 1);
    box-shadow: 8px 8px 11px 0 rgba(0,0,0,0.33);
}
.socials-img_item:focus {
    animation-name: shake;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
.store {
    margin: 64px 0 64px 0;
    padding: 0;
}
.store_item-container {
    width: 461px;
    height: 270px;
    margin: 8px;
    float: left;
}
.store_item {
    background-color: #eaeaea;
    width: 461px;
    height: 270px;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.33);
    float: left;
    transition: 0.5s;
}
.store_item:hover {
    transform: scale3d(1.08, 1.08, 1.08);
    border: 1px solid grey;
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.33);
    position: relative;
    height: 480px;
    transition: 0.3s;
    transition-timing-function: ease;
}
.store_item-inf{
    background-color: #558B2F;
    width: 480px;
    height: 160px;
    margin: 0;
    padding: 16px;
}
.store_item-inf:hover {
    animation-name: animate_store_item-inf;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-duration: 0.6s;
    width: 480px;
    height: 160px;
    margin: 0;
    padding: 16px;
}
.summary {
    margin: 80px 0 80px 0;
}
.title-main {
    font-size: 40px;
    color: #eeeeee;
    text-transform: uppercase;
    text-align: center;
    margin-top: 150px;
}
.title {
    padding-top: 64px;
}
.title h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.works {
    margin-top: 7px;
}
.works img {
    float: left;
}
.works img:last-child {
    float: right;
}
.works img:nth-child(2) {
    margin-left: 5px;
}
