#services {
    padding-bottom: 120px;
}
#portfolio {
    background: #eaeaea;
    padding-bottom: 320px;

}
#parallax {
    /* The image used */
    background-image: url('/img/coffee-bg2.jpg');

    /* Full height */
    height: 640px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax2 {
    /* The image used */
    background: url("/img/coffee-bg.jpg") no-repeat center top / cover;
    padding-bottom: 160px;

    /* Set a specific height */
    min-height: 440px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
}
#parallax_header {
    font-size: 40px;
    color: #eeeeee;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}