#services {
    padding-bottom: 120px;
}
#header {
    background: url("/img/bg.jpg") no-repeat center top / cover;
    padding-bottom: 120px;

    min-height: 120px;

    background-attachment: fixed;
    background-position: center;
}
#portfolio {
    background: #eaeaea;
    padding-bottom: 320px;

}
#parallax {
    background-image: url('/img/bg.jpg');

    height: 640px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax_header {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}
#title_rest {
    margin-top: 56px;
}